html, body {
    height: 100%;
}

body {
    margin: 0;
}

.center10 {
    position: relative;
    transform: translateY(10%);
    margin: auto;
}

.center20 {
    position: relative;
    transform: translateY(20%);
    margin: auto;
}

.center30 {
    position: relative;
    transform: translateY(30%);
    margin: auto;
}